<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:replace="fragments/header :: header"/>

<div class="container">
    <h1>Home</h1>
    <h2>Welcome to shop!</h2>
    <h3>Newsletter: </h3>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>